*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vh;
}

.container{
    background-color :rgb(192, 87, 87);
    height: 100vh;
    width: 100vh;
    display: grid;
    border: 5px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
    gap: 10px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(201, 213, 220);
    border: 2px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.item1{
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}
.item2{
    grid-column: 1 / 2;
    grid-row: 2 / 4;

}
.item3{
    grid-column: 2 / 6;
    grid-row: 2 / 4;

}
.item4{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}
.item5{
    grid-column: 3 / 6;
    grid-row: 4 / 5;
}
.item6{
    grid-column: 1 / 6;
    grid-row: 5 / 6;
}

@media(max-width:600px){
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, auto);
    }
    .item1{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .item2{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    
    }
    .item3{
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    
    }
    .item4{
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    .item5{
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }
    .item6{
        grid-column: 1 / 3;
        grid-row: 6 / 7;
    }
}
@media(max-width:100px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }
    .item{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .item2{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    
    }
    .item3{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    
    }
    .item4{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .item5{
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    .item6{
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
}